* {
    margin: 0;
    padding: 0;
}

/* .container {
    margin-left: 120px;
    margin-right: 120px;
} */

.navbar a {
    text-decoration: none;
    color: rgb(59, 58, 58);
}

.nav__logo {
    margin-top: 20px;
}

.nav__logo img {
    width: 60px;
}

.nav__logo h1 {

    font-size: 30px;
    padding-left: 10px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

/* .hero-flex {
    display: flex;
    flex-wrap: wrap;
} */

.hero__content {
    margin-top: 110px;
    width: 55%;
}

.hero__content h1 span{
    color: #3ac889;
}

.hero__content h1 {
    font-style: normal;
    font-size: 60px;
    font-weight: 600;
    color: #374151;
    line-height: 62px;
    font-family: 'Syne', sans-serif;
}

.hero__content p {
    width: 80%;
    padding-top: 10px;
    line-height: 30px;
    font-size: 20px;
    font-weight: 400;
    color: #6b7280;
    font-family: 'Syne', sans-serif;
}

.form {
    margin-top: 50px;
}

.form input {
    width: 250px;
    height: 40px;
    border: none;
    outline: none;
    border: 1px solid #6b7280;
    /* border-radius: 10px; */
}

.form input::placeholder {
    padding-left: 10px;
}

.form button {
    width: 150px;
    height: 40px;
    border: none;
    background-color: #3ac889;
    color: white;
    font-size: 16px;
    font-family: 'Syne', sans-serif;
    border-radius: 10px;
}

.hero__image {
    margin-top: 30px;
}

.hero__image img {
    height: 490px;
    margin-left: 20px;
}

@media only screen and (max-width: 768px) {
    .hero__content {
        margin-top: 30px !important;
        width: 100%;
    }

    .navbar h1 {
        font-size: 24px;
        padding-top: 15px !important;
    }

    .hero__content h1 {
        font-size: 42px;
        line-height: 45px;
    }

    .form {
        display: flex;
        flex-direction: row;
    }

    .form button {
        margin-left: 10px !important;
    }

    .hero__image img {
        width: 90%;
    }
}